<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nevadito – Controla tu dinero</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <nav>
            <div class="nav-logo">NEVADITO</div>
            <div class="nav-links">
                <a href="#inicio">Inicio</a>
                <a href="#funciones">Funciones</a>
                <a href="#planes">Planes</a>
                <a href="#descargar" class="btn-header">Descargar</a>
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}

</body>
</html>
